[submodule "jackey"]
	path = jackey
	url = https://github.com/drobilla/jackey.git
[submodule "jack_osc"]
	path = jack_osc
	url = https://github.com/ventosus/jack_osc.git
[submodule "libosc"]
	path = libosc
	url = https://github.com/OpenMusicKontrollers/libosc.git
[submodule "libosc_stream"]
	path = libosc_stream
	url = https://github.com/OpenMusicKontrollers/libosc_stream.git
